rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // 최종 구조 규칙
    match /exercises/{year}/{month}/{date} {
      allow read, write: if true;
    }

  }
}
