rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 'items' 컬렉션의 모든 문서에 대해서만 읽기와 쓰기 허용
    match /items/{document=**} {
      allow read, write: if true;
    }
  }
}
